<html lang="en">
<%- include ("./partials/head.ejs")%>

    <body>

        <!-- To Include The Nav File -->
        <!-- an hypen is used becoz the = escapes special characters, and gives us a string instead of html -->
        <!-- so whenever ever we use include we use hypen to output the value -->
        <%- include ("./partials/nav.ejs")%>


            <div class="blogs content">
                <h2>All Blogs</h2>
                <!-- SERVER- SIDE RENDERING -->
                <!-- an if statement to check if the blogs in array isnt empty (>0 to check ) -->
                <!-- if the length is >0 the we cycle thru the blogs and then fire a callback function for each blog at a time -->

                <% if (blogs.length>0){ %>
                    <% blogs.forEach(blog=> { %>

                        <h3 class="title">
                            <%= blog.title%>
                        </h3>
                        <p class="snippet">
                            <%= blog.snippet%>
                        </p>

                        <% }) %>
                            <% } else { %>
                                <p>There are noblogs to display...</p>
                                <%} %>
            </div>

            <%- include ("./partials/footer.ejs")%>
    </body>

</html>